<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing</title>
</head>
<body>
    <ul>
        {% for transactionid in transaction %}
            <li>
                {{ transactionid.description }} - R$ {{ transactionid.value }} - {{ transactionid.date }}
                -
                <a href="{% url 'url_update' transactionid.id %}">Update</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'url_new' %}">New</a>
</body>
</html>